[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
dj-database-url = "*"
dynaconf = {extras = ["yaml"],version = "*"}
djangorestframework = "*"
httpie = "*"
boto3 = "*"
django-storages = "*"
drf-yasg = "*"
psycopg2 = "*"
markdown = "*"
django-filter = "*"
drf-nested-routers = "*"
whitenoise = "*"

[requires]
python_version = "3.9"
